/* 
    Provides a semantic media query from the following:
    Respond above XX(screen sizes)
    Respond below XX
    Respond between XX and XX

    Whereas:
    XX is the two letter bootstrap breakpoint (i.e sm, md)

    SYNTAX for media query
    @media (min-width: 768px) and (max-width: 991px) 
    {
        Target devices between 768px and 992px
    }

    It's best practice to use Bootstrap breakpoints in your own code but it's painful to write them all the time.  
*/
:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: grid;
  max-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: auto;
  margin-bottom: 0;
}

bg-transparent {
  background-color: transparent !important;
}

.card_title {
  font-size: 2rem;
  text-align: center;
}

.container {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.center_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding-left: 5%;
}

.nav-link-f {
  padding-left: 0;
}

.slol {
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("../images/wallpapers/Gray_White.svg");
  background-size: cover;
  font-size: 1.25rem;
}

.slol1 {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("../images/wallpapers/Gray_White.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.contact-link {
  color: black;
  text-decoration: none;
}

.contact-link:hover {
  color: rgb(108, 117, 125);
  opacity: 1;
}

/* Style all font awesome icons */
.fa {
  padding: 6px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}

/* Point Left */
.fa-hand-back-point-right {
  background: rgb(36, 36, 36);
  border-radius: 50%;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  color: black;
  opacity: 0.7;
}

/* Set a specific color for each brand */
/* Facebook */
.fa-facebook {
  background: rgb(108, 117, 125);
  border-radius: 50%;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: rgb(108, 117, 125);
  border-radius: 50%;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: rgb(108, 117, 125);
  border-radius: 50%;
  color: white;
}

/* Github */
.fa-github {
  background: rgb(108, 117, 125);
  border-radius: 50%;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: rgb(108, 117, 125);
  border-radius: 50%;
  color: white;
}

/* Fixes dropdown menus placed on the right side */
.me-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.class-with-background1 {
  background-image: url("../images/wallpapers/Gray_White.svg");
  background-size: contain;
}

.class-with-background2 {
  background-image: url("../images/wallpapers/Gradient_White-Gray.svg");
  background-size: contain;
  background-color: gray;
}

@media (min-width: 576px) {
  .card {
    display: block;
  }
}
@media (max-width: true-1) {
  .card {
    display: block;
  }
  img {
    width: 100%;
    height: auto;
  }
}
/*
    Respond Between
    - it checks both lower and upper keys exists in the breakpoints before  writing this in the media query
    - we will check that both $lower and $upper keys exists in the $breakpoints map before writing it in the media query
*/
@media (min-width: 576px) and (max-width: 1399px) {
  .card img {
    display: block;
    height: 100%;
  }
}